body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
  @apply h-0 w-0 z-0
}
.navbar.active{
  @apply bg-[#7EA1FF] fixed top-0 flex justify-between items-center h-24  mx-auto px-4 text-white w-full z-20
}

.blackBox{
  @apply h-40 w-48 rounded-t-xl bg-[#7695FF] border-2 border-white flex items-center justify-center 
}

.sideBox{
  @apply w-1/2 h-20 bg-[#FFFAB7] rounded-r-xl flex items-center justify-center text-2xl font-semibold border-white border-t-2
}
/* bg-[#FFAD60] */